@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter Var';
    src: local('Inter-Var'), url(../fonts/Inter-Var.ttf) format('truetype');
}

[x-cloak] {
    display: none;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

